<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>
</head>
<body>
    <p>dashboard!</p>
</body>
<script>
    const token = localStorage.getItem("auth-token")
    if(!token){
        window.location.href = "/user/login"
    }
   
        // Sending headers with axios post request 
         axios.post("/user/auth", {} , {
            headers: {
                        'x-auth-key': token, // Custom header 
                        'Content-Type': 'application/json'    // Specifies the content type of the request body
                    }
         },)
         .then((res) => {
            window.location.href = "/task/add"
         })
         .catch((err) => {
            console.log(err);
            localStorage.removeItem("auth-token")
            window.location.href = "/user/login"
            
         })
    
</script>
</html>