 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 </head>
 <body>
    <p>Redirecting ....</p>
 </body>
 <script>
    localStorage.setItem('auth-token', '<%= token %>');
    window.location.href = "/user/auth";
 </script>
 </html>